* {
    box-sizing: border-box;
}

body {
    margin:0;
    width:100%
}

main {
    margin: 1em;
}

h1 {
    color: #3f7475;
}

/* Header */

header {

    background-image: url("media/beach-huts.jpg");

    background-position-y: 55%;
    background-position-x:center;
    background-size: cover;
}

#HeaderContent {
    background-color: rgba(200,200,200,0.4)
}

#HeaderTopContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 70%;
}

#HeaderLogo {
    padding-top:1em;
    padding-left:1em;
    max-width: 40%;
}

header nav {
    padding-right:2em;
    padding-top:2em;
}

header nav ul {
    display:flex;
    list-style:none;
    justify-self: end;
    padding: 0;
    gap: 3em;
    height:100%;
    margin:0;
}

header nav ul li a {
    text-decoration: none;
    color:white;
}

#WeatherSection {
    display:flex;
    justify-content: end;
    padding-right:2em;
}

#WeatherValue {
    align-self: center;
    color:white;
}

/* Home Page */

#ExperienceMoments, #LuxuriousAccommodations, #WhatGuestsSaying{
    display: flex;
    width:100%;
    justify-content: space-evenly;
}

.FlexGroup {
    padding:1em;
    margin:1em;
}

.FlexGroup h3 {
    margin: 0;
}

figcaption {
    justify-self: end;
}

#WhatGuestsSaying a {
    align-self: center;
}

/* Testimonials Page */

#Testimonials {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#Testimonials .FlexGroup {
    max-width:20%;
    margin:1em 5em;
}

blockquote {
    margin: 0;
}

/* Accommodations page */

.FlexBlock img {
    max-width: 30%;
    height: auto;
}

#ActivitiesExcursions {
    display:flex;
    gap:2em;
    padding: 1em;
}

#ActivitiesExcursions ul {
    margin:0;
}

/* ComponentClasses */

.FlexColumn {
    display:flex;
    flex-direction: column;
    gap:1em;
    padding: 1em;
    justify-content: space-evenly;
}

.FlexBlock {
    display:flex;
    gap:1em;
}

.BackgroundBox {
    background-color: rgba(226,219,204,0.5);
    border-radius: 1em;
}

.BackgroundBoxDark {
    background-color: #ccc3b4;
    border-radius: 1em;
}

.RightJustified {
    flex-direction: row-reverse;
}

.FlexCenter {
    justify-content: center;
}

.Clamped {
    max-width:30%;
}

.Clumped {
    max-width:60%;
}

.TextCenter {
    display:flex;
    justify-content: center;
}

main.FlexColumn {
    padding:0;
}

main.FlexColumn h1 , main.FlexColumn p {
    margin:0;
}

@media screen and (max-width:1280px) {
    header nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #Testimonials {
        flex-direction: column;
    }

    #Testimonials .FlexGroup {
        margin: 1em 1em;
        max-width: 90%;
        align-self: center;
    }

    .FlexBlock img {
        max-width:50%;
    }

    .Clamped {
        max-width:70%;
    }
}

@media screen and (max-width:720px){
    #HeaderTopContent {
        display:flex;
        flex-direction: column;
    }

    #HeaderLogo {
        max-width: 70%;
        align-self: center;
        padding:0;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        text-align: center;
        width:100%;
        gap:1em;
    }

    header nav {
        padding:0;
    }

    #ExperienceMoments, #LuxuriousAccommodations, #WhatGuestsSaying {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .FlexBlock {
        flex-direction: column;
    }

    .FlexBlock img {
        align-self:center;
        max-width:90%;
    }

    .Clamped {
        max-width:90%;
        align-self: center;
    }

    #ActivitiesExcursions {
        flex-direction:column
    }

    .FlexCenter {
        align-items: center;
    }
}